
.pokeLogo{
    width: 2rem;
    height: 2rem;
}

.redLine{   
        width: 100%;
        height: 1rem;
        background-color:#f44444;
        text-align: center;
        
}

.blackLine{
    width: 100%;
    height: 1rem;
    background-color: black;
    
    
}

.pokeBtn{
    width: 3rem;
    height: 3rem;
}

#signIn, #signOut{
    color:#fff;
    background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
    width: 20rem;
}

#signOut{
    width: 10rem;
    display: none;
}