
 <div *ngIf="songs" class="card">

   
    <!--Card content-->
    <div class="card-body">
        <img class="img-pikachu" src="../../assets/images/pikachu.jpg">
        <!--Title-->
        <h4 class="card-title">Now Playing...</h4>
        <!--Text-->

        <table class="table table-hover">
            <thead class="songTitle">{{songs[_svc._selectedIndex].title}}</thead>
            <tbody>
                    <tr> <strong> Date:</strong> {{songs[_svc._selectedIndex].date}} </tr>
                    <tr> <strong> Artist:</strong> {{songs[_svc._selectedIndex].artist.name}} </tr>
                    <tr> <strong> Length:</strong> {{songs[_svc._selectedIndex].length}} </tr>
                    <br>
                    <tr> <strong> Season:</strong> {{songs[_svc._selectedIndex].timespan.season}} </tr>
                    <tr> <strong> Debut:</strong> {{songs[_svc._selectedIndex].timespan.debutEpisode}} </tr>
                    <tr> <strong> Finale:</strong> {{songs[_svc._selectedIndex].timespan.finalEpisode}} </tr>

            </tbody>
        </table>
        <p class="addArtist">Add your own Artist to the Database:</p>
        <p><strong>Note:</strong> This will not change anything on the current UI, due to the timespan I had to work with. 
            It will however put the artist into the local database.</p>
        
<div class="md-form">
    <input mdbInputDirective placeholder="Name" type="text" id="artistName" class="form-control">
    <label for="artistName" class=""></label>
</div>

<div class="waves-input-wrapper waves-light" mdbWavesEffect><input (click)="postRequest()" class="btn btn-primary" type="submit" value="Submit"></div>
        
    </div>

</div>