
 <div class="card">

            <!--Card image-->
            <img *ngIf="imageUrl" class="img-fluid" [src]="imageUrl" alt="Card image cap">
        
            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">Welcome to PokeApp, <p id="account-name"></p> </h4>
                <!--Text-->

                <select (change)="setAudio()" class="form-control" [(ngModel)]="selectedSong">
                        <option *ngFor="let song of audioFiles" [value]="song.id" >{{song.title}}</option>
                </select>

                <audio id="audio" controls>
                        <source [src]="audio" type="audio/mpeg">
                        Your browser does not support the audio element
                </audio>

                <p class="card-text">This website is designed to give an overview of every single pokemon available right now. Enjoy some music while you're at it!</p>
        
            </div>
        
        </div>