
.pokeLogo{
    width: 2rem;
    height: 2rem;
}

.redLine{   
        width: 100%;
        height: 1rem;
        background-color:#f44444;
        text-align: center;
        
}

.blackLine{
    width: 100%;
    height: 1rem;
    background-color: black;
    
    
}

.pokeBtn{
    width: 3rem;
    height: 3rem;
}

.googleAuth{
    font-size: 0.7rem;
}
